In [47]:
import SciServer   #Install if necessary (see https://github.com/sciserver/SciScript-Python#3-installation)
from SciServer import CasJobs, Authentication, SkyQuery
import pandas as pd                                
import numpy as np
from datetime import datetime, timedelta
from pprint import pprint

In [48]:
#Need to have an account with SciServer in order for this to work (http://www.sciserver.org/)
#Input login information here
Authentication_loginName = '#######'
Authentication_loginPassword = '#######'

# generates manual authentication token to connect to SciServer
manualtoken = ""
manualtoken = Authentication.login(Authentication_loginName, Authentication_loginPassword)
manualtokenvalue = Authentication.token.value

if (manualtoken):
    print("Manual login (providing login and password in notebook) successful!")
    print("Login token (via manual login): {0:}".format(manualtoken))
else:
    print("ERROR: Manual login failed. Please check your commands and try again.")
    print("For help, type:")
    print("help(Authentication)")

Manual login (providing login and password in notebook) successful!
Login token (via manual login): ce0164015088433394c43d2d247198a4

In [49]:
# convenience functions from SciServer documentation

def tables_formatted(tables):   # better formatted printing of a tables dictionary (output of get_tables)
# Returns the following information about the tables in MyDB (as a Python dictionary object):
### Size: size of the table (in kB)
### Name: the name of the table
### Rows: the number of rows the table contains
### Date: the date of the table's creation, as the number of 10-microsecond intervals elapsed 1 AD

    import pandas
    from datetime import datetime
    
    tables = sorted(tables, key=lambda k: k['Name']) # alphabetize by table name
    
    for thistable in tables:
        print('Table name:\t',thistable['Name'])
        print('Rows:\t\t {:,.0f}'.format(thistable['Rows']))
        print('Size (kB):\t {:,.0f} '.format(thistable['Size']))

        cjCreateDate = thistable['Date']
        createsec = cjCreateDate / 10000000  # Divide by 10 million to get seconds elapsed since 1 AD
        firstday = datetime(1, 1, 1, 0, 0)   # Save 1 AD as "firstday"
        created = firstday + timedelta(seconds=createsec)  # Get calendar date on which table was created     
        print('Created time:\t',created.strftime('%Y-%m-%d %H:%M:%S'))
        print('\n')
        
def jobDescriber(jobDescription):
    # Prints the results of the CasJobs job status functions in a human-readable manner
    # Input: the python dictionary returned by getJobStatus(jobId) or waitForJob(jobId)
    # Output: prints the dictionary to screen with readable formatting
    
    import pandas
    
    if (jobDescription["Status"] == 0):
        status_word = 'Ready'
    elif (jobDescription["Status"] == 1):
        status_word = 'Started'
    elif (jobDescription["Status"] == 2):
        status_word = 'Cancelling'
    elif (jobDescription["Status"] == 3):
        status_word = 'Cancelled'
    elif (jobDescription["Status"] == 4):
        status_word = 'Failed'
    elif (jobDescription["Status"] == 5):
        status_word = 'Finished'
    else:
        status_word = 'Status not found!!!!!!!!!'

    print('JobID: ', jobDescription['JobID'])
    print('Status: ', status_word, ' (', jobDescription["Status"],')')
    print('Target (context being searched): ', jobDescription['Target'])
    print('Message: ', jobDescription['Message'])
    print('Created_Table: ', jobDescription['Created_Table'])
    print('Rows: ', jobDescription['Rows'])
    wait = pandas.to_datetime(jobDescription['TimeStart']) - pandas.to_datetime(jobDescription['TimeSubmit'])
    duration = pandas.to_datetime(jobDescription['TimeEnd']) - pandas.to_datetime(jobDescription['TimeStart'])
    print('Wait time: ',wait.seconds,' seconds')
    print('Query duration: ',duration.seconds, 'seconds')

In [50]:
context = 'DR15'  # latest SDSS data release
tables = CasJobs.getTables(context = context)  # extracts tables from DR15
tables_formatted(tables)

Table name:	 AtlasOutline
Rows:		 1,222,390,340
Size (kB):	 800,358,592
Created time:	 2017-03-13 16:42:32


Table name:	 DBColumns
Rows:		 8,557
Size (kB):	 4,616
Created time:	 2011-12-06 15:45:07


Table name:	 DBObjects
Rows:		 606
Size (kB):	 392
Created time:	 2011-12-06 15:44:51


Table name:	 DBViewCols
Rows:		 231
Size (kB):	 72
Created time:	 2011-12-06 15:45:07


Table name:	 DataConstants
Rows:		 681
Size (kB):	 536
Created time:	 2015-05-28 23:01:43


Table name:	 Dependency
Rows:		 416
Size (kB):	 200
Created time:	 2011-12-06 15:44:51


Table name:	 Diagnostics
Rows:		 506
Size (kB):	 72
Created time:	 2011-12-06 15:44:51


Table name:	 FIRST
Rows:		 510,679,510
Size (kB):	 7,179,952
Created time:	 2011-12-06 15:44:51


Table name:	 Field
Rows:		 938,046
Size (kB):	 1,569,472
Created time:	 2011-12-26 12:50:13


Table name:	 FieldProfile
Rows:		 43,286,213
Size (kB):	 935,528
Created time:	 2011-12-26 12:50:15


Table name:	 FileGroupMap
Rows:		 0
Size (kB):	 0
Created time:	 2011-12-06 15:45:08


Table name:	 Frame
Rows:		 3,752,184
Size (kB):	 1,463,096
Created time:	 2017-03-15 21:16:11


Table name:	 HalfSpace
Rows:		 32,939,094
Size (kB):	 2,139,464
Created time:	 2011-12-06 15:45:08


Table name:	 History
Rows:		 1,267
Size (kB):	 200
Created time:	 2011-12-06 15:44:51


Table name:	 IndexMap
Rows:		 238
Size (kB):	 136
Created time:	 2018-08-03 12:18:47


Table name:	 Inventory
Rows:		 606
Size (kB):	 200
Created time:	 2011-12-06 15:45:08


Table name:	 LoadHistory
Rows:		 144
Size (kB):	 72
Created time:	 2011-12-06 15:44:51


Table name:	 Mask
Rows:		 35,527,329
Size (kB):	 10,699,336
Created time:	 2011-12-06 15:44:51


Table name:	 MaskedObject
Rows:		 185,082,010
Size (kB):	 2,110,952
Created time:	 2011-12-06 15:45:14


Table name:	 Neighbors
Rows:		 25,610,066,940
Size (kB):	 679,465,928
Created time:	 2017-07-01 10:59:31


Table name:	 PartitionMap
Rows:		 11
Size (kB):	 72
Created time:	 2011-12-06 15:44:51


Table name:	 PhotoObjAll
Rows:		 1,231,051,050
Size (kB):	 6,376,310,272
Created time:	 2011-12-08 12:59:53


Table name:	 PhotoObjDR7
Rows:		 364,857,538
Size (kB):	 113,109,472
Created time:	 2011-12-06 15:44:51


Table name:	 PhotoPrimaryDR7
Rows:		 305,789,541
Size (kB):	 90,962,848
Created time:	 2011-12-06 15:44:51


Table name:	 PhotoProfile
Rows:		 44,595,857,733
Size (kB):	 782,902,048
Created time:	 2011-12-10 12:43:51


Table name:	 Photoz
Rows:		 208,474,076
Size (kB):	 34,663,936
Created time:	 2015-02-09 17:18:26


Table name:	 PhotozErrorMap
Rows:		 541,008
Size (kB):	 14,016
Created time:	 2015-02-09 17:18:27


Table name:	 Plate2Target
Rows:		 60,059,331
Size (kB):	 727,888
Created time:	 2011-12-06 15:44:51


Table name:	 PlateX
Rows:		 5,888
Size (kB):	 6,272
Created time:	 2017-06-08 22:42:00


Table name:	 ProfileDefs
Rows:		 15
Size (kB):	 72
Created time:	 2015-05-28 23:01:45


Table name:	 ProperMotions
Rows:		 336,954,036
Size (kB):	 18,486,320
Created time:	 2016-03-31 16:26:37


Table name:	 PubHistory
Rows:		 762
Size (kB):	 200
Created time:	 2011-12-06 15:44:51


Table name:	 QueryResults
Rows:		 290
Size (kB):	 200
Created time:	 2011-12-06 15:44:51


Table name:	 RC3
Rows:		 26,825
Size (kB):	 5,328
Created time:	 2011-12-06 15:44:51


Table name:	 ROSAT
Rows:		 102,683
Size (kB):	 15,264
Created time:	 2011-12-06 15:44:48


Table name:	 RecentQueries
Rows:		 4
Size (kB):	 72
Created time:	 2011-12-06 15:44:51


Table name:	 Region
Rows:		 8,060,102
Size (kB):	 8,311,960
Created time:	 2011-12-06 15:44:51


Table name:	 Region2Box
Rows:		 0
Size (kB):	 0
Created time:	 2011-12-06 15:44:51


Table name:	 RegionArcs
Rows:		 32,243,514
Size (kB):	 1,619,792
Created time:	 2011-12-06 15:45:10


Table name:	 RegionPatch
Rows:		 8,060,101
Size (kB):	 3,633,824
Created time:	 2011-12-06 15:45:10


Table name:	 RegionTypes
Rows:		 5
Size (kB):	 16
Created time:	 2012-10-30 13:08:24


Table name:	 Rmatrix
Rows:		 12
Size (kB):	 72
Created time:	 2011-12-06 15:44:48


Table name:	 Run
Rows:		 765
Size (kB):	 208
Created time:	 2011-12-06 15:44:48


Table name:	 RunShift
Rows:		 9
Size (kB):	 72
Created time:	 2015-05-28 23:01:44


Table name:	 SDSSConstants
Rows:		 48
Size (kB):	 72
Created time:	 2015-05-28 23:01:43


Table name:	 SiteConstants
Rows:		 11
Size (kB):	 72
Created time:	 2011-12-06 15:44:48


Table name:	 SiteDBs
Rows:		 1
Size (kB):	 72
Created time:	 2011-12-06 15:44:48


Table name:	 SiteDiagnostics
Rows:		 506
Size (kB):	 200
Created time:	 2011-12-06 15:44:48


Table name:	 SkipFinishPhases
Rows:		 10
Size (kB):	 72
Created time:	 2013-07-10 13:32:53


Table name:	 SpecDR7
Rows:		 1,697,361
Size (kB):	 568,544
Created time:	 2011-12-06 15:44:48


Table name:	 SpecObjAll
Rows:		 4,851,200
Size (kB):	 5,759,488
Created time:	 2017-06-11 19:55:17


Table name:	 SpecPhotoAll
Rows:		 4,851,200
Size (kB):	 2,660,896
Created time:	 2017-07-11 12:32:00


Table name:	 StripeDefs
Rows:		 48
Size (kB):	 72
Created time:	 2015-05-28 23:01:44


Table name:	 Target
Rows:		 0
Size (kB):	 0
Created time:	 2011-12-06 15:44:48


Table name:	 TargetInfo
Rows:		 0
Size (kB):	 0
Created time:	 2011-12-06 15:45:10


Table name:	 TwoMass
Rows:		 103,577,231
Size (kB):	 24,893,696
Created time:	 2011-12-06 15:44:48


Table name:	 TwoMassXSC
Rows:		 1,462,532
Size (kB):	 1,853,680
Created time:	 2011-12-06 15:44:48


Table name:	 USNO
Rows:		 253,732,084
Size (kB):	 20,713,584
Created time:	 2011-12-06 15:44:48


Table name:	 Versions
Rows:		 38
Size (kB):	 72
Created time:	 2011-12-06 15:44:48


Table name:	 WISE_allsky
Rows:		 563,921,584
Size (kB):	 708,929,600
Created time:	 2013-07-11 11:24:25


Table name:	 WISE_xmatch
Rows:		 495,003,196
Size (kB):	 19,874,304
Created time:	 2013-07-11 11:24:25


Table name:	 Zone
Rows:		 794,350,619
Size (kB):	 43,234,688
Created time:	 2017-07-01 03:54:23


Table name:	 apogeeDesign
Rows:		 1,877
Size (kB):	 208
Created time:	 2017-06-08 18:19:39


Table name:	 apogeeField
Rows:		 436
Size (kB):	 216
Created time:	 2017-06-08 18:19:39


Table name:	 apogeeObject
Rows:		 87,786,145
Size (kB):	 22,619,688
Created time:	 2017-06-08 18:19:40


Table name:	 apogeePlate
Rows:		 4,012
Size (kB):	 328
Created time:	 2017-06-08 18:19:39


Table name:	 apogeeStar
Rows:		 277,371
Size (kB):	 112,000
Created time:	 2017-06-08 18:19:39


Table name:	 apogeeStarAllVisit
Rows:		 1,191,008
Size (kB):	 37,160
Created time:	 2017-06-08 18:19:39


Table name:	 apogeeStarVisit
Rows:		 1,026,827
Size (kB):	 30,680
Created time:	 2017-06-08 18:19:39


Table name:	 apogeeVisit
Rows:		 1,054,381
Size (kB):	 295,520
Created time:	 2017-06-08 18:19:39


Table name:	 aspcapStar
Rows:		 277,371
Size (kB):	 192,128
Created time:	 2017-06-08 18:19:39


Table name:	 aspcapStarCovar
Rows:		 13,591,179
Size (kB):	 437,920
Created time:	 2017-06-08 18:19:39


Table name:	 cannonStar
Rows:		 277,371
Size (kB):	 71,400
Created time:	 2017-07-18 17:02:07


Table name:	 detectionIndex
Rows:		 932,886,174
Size (kB):	 35,231,760
Created time:	 2016-03-28 23:51:47


Table name:	 emissionLinesPort
Rows:		 2,440,798
Size (kB):	 3,521,608
Created time:	 2015-01-29 00:12:34


Table name:	 galSpecExtra
Rows:		 1,477,411
Size (kB):	 205,472
Created time:	 2011-12-06 15:44:51


Table name:	 galSpecIndx
Rows:		 1,477,411
Size (kB):	 1,406,944
Created time:	 2011-12-06 15:44:51


Table name:	 galSpecInfo
Rows:		 1,477,411
Size (kB):	 89,120
Created time:	 2011-12-06 15:44:51


Table name:	 galSpecLine
Rows:		 1,477,411
Size (kB):	 1,228,896
Created time:	 2011-12-06 15:44:51


Table name:	 mangaDAPall
Rows:		 9,462
Size (kB):	 25,424
Created time:	 2018-08-03 12:12:16


Table name:	 mangaDRPall
Rows:		 11,465
Size (kB):	 4,880
Created time:	 2018-08-03 12:55:37


Table name:	 mangaFirefly
Rows:		 4,675
Size (kB):	 968
Created time:	 2018-08-03 12:12:16


Table name:	 mangaHIall
Rows:		 331
Size (kB):	 208
Created time:	 2018-08-03 12:12:16


Table name:	 mangaHIbonus
Rows:		 38
Size (kB):	 72
Created time:	 2018-08-03 12:12:16


Table name:	 mangaPipe3D
Rows:		 4,656
Size (kB):	 1,928
Created time:	 2018-08-03 12:12:16


Table name:	 mangatarget
Rows:		 43,068
Size (kB):	 28,752
Created time:	 2018-08-03 12:55:37


Table name:	 marvelsStar
Rows:		 11,040
Size (kB):	 2,056
Created time:	 2014-11-05 17:55:35


Table name:	 marvelsVelocityCurveUF1D
Rows:		 197,040
Size (kB):	 84,552
Created time:	 2014-11-05 17:55:35


Table name:	 mastar_goodstars
Rows:		 3,326
Size (kB):	 400
Created time:	 2018-08-03 12:13:01


Table name:	 mastar_goodvisits
Rows:		 8,646
Size (kB):	 648
Created time:	 2018-08-03 12:13:01


Table name:	 nsatlas
Rows:		 641,409
Size (kB):	 846,816
Created time:	 2017-07-18 17:06:43


Table name:	 qsoVarPTF
Rows:		 901,366
Size (kB):	 40,808
Created time:	 2016-05-12 13:04:39


Table name:	 qsoVarStripe
Rows:		 95,115
Size (kB):	 7,432
Created time:	 2016-05-12 13:04:39


Table name:	 sdssBestTarget2Sector
Rows:		 0
Size (kB):	 0
Created time:	 2012-06-12 13:32:17


Table name:	 sdssEbossFirefly
Rows:		 2,469,947
Size (kB):	 2,198,880
Created time:	 2017-12-21 18:30:28


Table name:	 sdssImagingHalfSpaces
Rows:		 32,939,114
Size (kB):	 831,384
Created time:	 2016-03-31 13:05:51


Table name:	 sdssPolygon2Field
Rows:		 87,723,180
Size (kB):	 1,059,552
Created time:	 2016-03-31 13:05:52


Table name:	 sdssPolygons
Rows:		 8,060,102
Size (kB):	 284,760
Created time:	 2016-03-31 13:05:52

Table name:	 sdssSector
Rows:		 0
Size (kB):	 0
Created time:	 2012-06-12 13:32:17


Table name:	 sdssSector2Tile
Rows:		 0
Size (kB):	 0
Created time:	 2012-06-12 13:32:17


Table name:	 sdssTargetParam
Rows:		 4,421
Size (kB):	 200
Created time:	 2011-12-06 15:44:48


Table name:	 sdssTileAll
Rows:		 1,869
Size (kB):	 912
Created time:	 2011-12-06 15:45:10


Table name:	 sdssTiledTargetAll
Rows:		 1,056,872
Size (kB):	 201,776
Created time:	 2011-12-06 15:44:48


Table name:	 sdssTilingGeometry
Rows:		 356
Size (kB):	 144
Created time:	 2011-12-06 15:45:10


Table name:	 sdssTilingInfo
Rows:		 1,082,436
Size (kB):	 116,384
Created time:	 2011-12-06 15:45:10


Table name:	 sdssTilingRun
Rows:		 104
Size (kB):	 72
Created time:	 2011-12-06 15:44:48


Table name:	 segueTargetAll
Rows:		 453,975,934
Size (kB):	 46,881,528
Created time:	 2011-12-06 15:44:48


Table name:	 spiders_quasar
Rows:		 8,570
Size (kB):	 6,344
Created time:	 2018-08-03 12:12:08


Table name:	 sppLines
Rows:		 1,843,200
Size (kB):	 2,355,688
Created time:	 2012-05-24 11:07:32


Table name:	 sppParams
Rows:		 1,843,200
Size (kB):	 1,046,824
Created time:	 2012-05-24 11:07:33


Table name:	 sppTargets
Rows:		 33,837,172
Size (kB):	 9,464,216
Created time:	 2017-06-29 18:06:56


Table name:	 stellarMassFSPSGranEarlyDust
Rows:		 2,432,671
Size (kB):	 1,494,560
Created time:	 2015-01-29 00:12:33


Table name:	 stellarMassFSPSGranEarlyNoDust
Rows:		 2,432,671
Size (kB):	 1,305,440
Created time:	 2015-01-29 00:12:33


Table name:	 stellarMassFSPSGranWideDust
Rows:		 2,432,671
Size (kB):	 1,498,784
Created time:	 2015-01-29 00:12:33


Table name:	 stellarMassFSPSGranWideNoDust
Rows:		 2,432,671
Size (kB):	 1,336,864
Created time:	 2015-01-29 00:12:33


Table name:	 stellarMassPCAWiscBC03
Rows:		 2,432,671
Size (kB):	 404,768
Created time:	 2015-01-29 00:12:31


Table name:	 stellarMassPCAWiscM11
Rows:		 2,432,671
Size (kB):	 404,000
Created time:	 2015-01-29 00:12:31


Table name:	 stellarMassPassivePort
Rows:		 2,432,671
Size (kB):	 243,808
Created time:	 2015-01-29 00:12:32


Table name:	 stellarMassStarformingPort
Rows:		 2,432,671
Size (kB):	 273,888
Created time:	 2015-01-29 00:12:32


Table name:	 thingIndex
Rows:		 563,392,060
Size (kB):	 29,814,960
Created time:	 2016-03-28 23:51:48


Table name:	 wiseForcedTarget
Rows:		 469,039,044
Size (kB):	 74,231,864
Created time:	 2016-03-22 11:53:04


Table name:	 zoo2MainPhotoz
Rows:		 42,462
Size (kB):	 32,808
Created time:	 2013-07-11 11:28:56


Table name:	 zoo2MainSpecz
Rows:		 243,500
Size (kB):	 164,680
Created time:	 2013-07-11 11:28:56


Table name:	 zoo2Stripe82Coadd1
Rows:		 19,765
Size (kB):	 12,304
Created time:	 2013-07-11 11:28:56


Table name:	 zoo2Stripe82Coadd2
Rows:		 19,761
Size (kB):	 12,560
Created time:	 2013-07-11 11:28:57


Table name:	 zoo2Stripe82Normal
Rows:		 17,787
Size (kB):	 15,056
Created time:	 2013-07-11 11:28:57


Table name:	 zooConfidence
Rows:		 667,944
Size (kB):	 85,512
Created time:	 2011-12-06 15:44:48


Table name:	 zooMirrorBias
Rows:		 91,303
Size (kB):	 21,104
Created time:	 2011-12-06 15:44:48


Table name:	 zooMonochromeBias
Rows:		 91,303
Size (kB):	 17,968
Created time:	 2011-12-06 15:44:48


Table name:	 zooNoSpec
Rows:		 225,268
Size (kB):	 33,136
Created time:	 2011-12-06 15:44:48


Table name:	 zooSpec
Rows:		 667,944
Size (kB):	 96,688
Created time:	 2011-12-06 15:44:48


Table name:	 zooVotes
Rows:		 893,212
Size (kB):	 108,728
Created time:	 2011-12-06 15:44:48

In [36]:
#Run test query of SciServer database
testquery = """
    SELECT TOP 10 specobjid, z, class, ra, dec  
    FROM specobj; 
"""

df = CasJobs.executeQuery(sql = testquery, context = context)
df

             specobjid         z   class         ra        dec
0  7048316320836722688  0.475454  GALAXY  15.988656  31.121303
1  7423108218786652160  0.285623  GALAXY  15.985467  31.107748
2  7423103270984327168 -0.000122    STAR  16.161876  31.118433
3  7048316870592536576  0.348952  GALAXY  16.040245  31.105689
4  7423103545862234112  0.472915  GALAXY  16.055123  31.114574
5  7048317970104164352  0.474355  GALAXY  15.991151  31.088384
6  7423102446350606336  0.576634  GALAXY  16.004968  31.083575
7  7423104370495954944  3.393394     QSO  16.187001  31.095513
8  7423092825623863296  0.179645  GALAXY  16.316461  31.131850
9  7048327041075093504  0.180119  GALAXY  16.315663  31.076870

In [19]:
testquery2 = """
    SELECT TOP 10 specobjid, ra, dec, p_el_debiased, p_cs_debiased, uncertain
    FROM zoospec
    WHERE uncertain != 1; 
"""

df = CasJobs.executeQuery(sql = testquery2, context = context)
df

,specobjid,ra,dec,p_el_debiased,p_cs_debiased,uncertain
0,299493525265868800,146.9500,-0.592222,0.164,0.745,0
1,299494075021682688,146.6286,-0.765139,0.185,0.794,0
2,299498473068193792,147.3295,0.028889,0.000,1.000,0
3,299502871114704896,146.5713,-0.957194,0.062,0.909,0
4,299504245504239616,146.5128,-0.845778,0.000,1.000,0
5,299508918428657664,146.8576,-0.218806,0.408,0.550,0
6,299509468184471552,146.8120,-0.190055,0.917,0.083,0
7,299511117451913216,146.7608,0.015944,0.054,0.843,0
8,299514690864703488,146.0937,-0.793111,0.262,0.738,0
9,299515240620517376,146.1183,-0.868167,0.399,0.601,0

In [23]:
# querying primary and foreign keys, right ascension (ra), declination (dec), class (target response), 
# subclass (if available), redshift (z), class and z for data without quasars, and spectral flux values
# for the 5 wavelength filters (u, g, r, i, and z) from the specobj view available in database

# 5 filters define ultraviolet (u), green (g), red (r), near-infrared (i), and far-infrared (z) spectral regions
# only extracting data where zWarning flag not thrown

# this puts the data into MyDB online, which is associated (and created automatically) with user account

query = """
    SELECT specobjid, bestobjid, fluxobjid, 
           ra, dec, class, subclass, z, class_noqso, z_noqso,  
           spectroflux_u, spectroflux_g, spectroflux_r, 
           spectroflux_i, spectroflux_z
    INTO mydb.specobj
    FROM specobj
    WHERE zwarning = 0; 
"""

print('Submitting query:\n', query)
print('\n')

jobid = CasJobs.submitJob(sql = query, context = context)

print('Job submitted with jobId = ', jobid)
print('\n')

waited = CasJobs.waitForJob(jobId = jobid)      
jobDescription = CasJobs.getJobStatus(jobid)

print('\n')
print('Information about the job:')

#pprint(jobDescription)
jobDescriber(jobDescription)

Submitting query:

    SELECT specobjid, bestobjid, fluxobjid,
           ra, dec, class, subclass, z, class_noqso, z_noqso,
           spectroflux_u, spectroflux_g, spectroflux_r,
           spectroflux_i, spectroflux_z
    INTO mydb.specobj
    FROM specobj
    WHERE zwarning = 0;



Job submitted with jobId =  44383502




Information about the job:
JobID:  44383502
Status:  Finished  ( 5 )
Target (context being searched):  DR15
Message:  Query Complete
Created_Table:  specobj
Rows:  3695557
Wait time:  2  seconds
Query duration:  97 seconds

In [24]:
# extract table from MyDB and save to dataframe
specobj = SkyQuery.getTable('specobj', datasetName = 'MyDB')
specobj.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3248: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,#specobjid,bestobjid,fluxobjid,ra,dec,class,subclass,z,class_noqso,z_noqso,spectroflux_u,spectroflux_g,spectroflux_r,spectroflux_i,spectroflux_z
0,2.994897e+17,1237648720142401611,1237648720142401611,146.71421,-1.041304,GALAXY,STARFORMING,0.021222,NaN,0.0,39.814580,140.295000,327.95220,499.94520,651.97530
1,2.994900e+17,1237650795146510627,1237650795146510627,146.74413,-0.652191,GALAXY,NaN,0.203783,NaN,0.0,2.123277,9.335421,34.65110,57.45160,74.03194
2,2.994902e+17,1237648720142532813,1237648720142532813,146.90229,-0.984913,QSO,BROADLINE,0.652417,NaN,0.0,10.569600,13.408740,15.18042,17.93766,17.15082
3,2.994905e+17,1237650795146445031,1237650795146445031,146.62857,-0.765137,GALAXY,STARFORMING,0.064656,NaN,0.0,10.502770,30.387320,71.79632,113.15380,149.12230
4,2.994911e+17,1237648720142401670,1237648720142401670,146.63167,-0.988278,GALAXY,STARFORMING,0.052654,NaN,0.0,8.867897,15.627490,24.44642,32.26784,35.75817

In [27]:
specobj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3695557 entries, 0 to 3695556
Data columns (total 15 columns):
specobjid        int64
bestobjid        int64
fluxobjid        int64
ra               float64
dec              float64
class            object
subclass         object
z                float64
class_noqso      object
z_noqso          float64
spectroflux_u    float64
spectroflux_g    float64
spectroflux_r    float64
spectroflux_i    float64
spectroflux_z    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 422.9+ MB

In [26]:
# clean data
specobj = specobj.rename(columns = {'#specobjid': 'specobjid'})
specobj['specobjid'] = specobj['specobjid'].astype(int)
specobj.head()

,specobjid,bestobjid,fluxobjid,ra,dec,class,subclass,z,class_noqso,z_noqso,spectroflux_u,spectroflux_g,spectroflux_r,spectroflux_i,spectroflux_z
0,299489677444933632,1237648720142401611,1237648720142401611,146.71421,-1.041304,GALAXY,STARFORMING,0.021222,NaN,0.0,39.814580,140.295000,327.95220,499.94520,651.97530
1,299489952322840576,1237650795146510627,1237650795146510627,146.74413,-0.652191,GALAXY,NaN,0.203783,NaN,0.0,2.123277,9.335421,34.65110,57.45160,74.03194
2,299490227200747520,1237648720142532813,1237648720142532813,146.90229,-0.984913,QSO,BROADLINE,0.652417,NaN,0.0,10.569600,13.408740,15.18042,17.93766,17.15082
3,299490502078654464,1237650795146445031,1237650795146445031,146.62857,-0.765137,GALAXY,STARFORMING,0.064656,NaN,0.0,10.502770,30.387320,71.79632,113.15380,149.12230
4,299491051834468352,1237648720142401670,1237648720142401670,146.63167,-0.988278,GALAXY,STARFORMING,0.052654,NaN,0.0,8.867897,15.627490,24.44642,32.26784,35.75817

In [29]:
# export to CSV and pickle objects
specobj.to_csv('data/specobj.csv', header = False, index = False)
specobj.to_pickle('specobj.pickle')

In [30]:
# drop table from MyDB (only 500 MB allowed)
SkyQuery.dropTable('specobj', datasetName = 'MyDB')

True

In [31]:
# query all columns from zoospec table

query = """
    SELECT *
    INTO mydb.zoospec
    FROM zoospec; 
"""

print('Submitting query:\n', query)
print('\n')

jobid = CasJobs.submitJob(sql = query, context = context)

print('Job submitted with jobId = ', jobid)
print('\n')

waited = CasJobs.waitForJob(jobId = jobid)      
jobDescription = CasJobs.getJobStatus(jobid)

print('\n')
print('Information about the job:')

#pprint(jobDescription)
jobDescriber(jobDescription)

Submitting query:

    SELECT *
    INTO mydb.zoospec
    FROM zoospec;



Job submitted with jobId =  44383537




Information about the job:
JobID:  44383537
Status:  Finished  ( 5 )
Target (context being searched):  DR15
Message:  Query Complete
Created_Table:  zoospec
Rows:  667944
Wait time:  9  seconds
Query duration:  19 seconds

In [32]:
zoospec = SkyQuery.getTable('zoospec', datasetName = 'MyDB')
zoospec.head()

,#specobjid,objid,dr7objid,ra,dec,rastring,decstring,nvote,p_el,p_cw,p_acw,p_edge,p_dk,p_mg,p_cs,p_el_debiased,p_cs_debiased,spiral,elliptical,uncertain
0,1825192107644577792,1237661971718471982,588017725470277942,175.9423,7.577556,11:43:46.15,+07:34:39.2,30,0.533,0.000,0.233,0.167,0.067,0.0,0.400,0.174,0.723,0,0,1
1,1825192382522484736,1237661971718471730,588017725470277844,175.8914,7.594333,11:43:33.93,+07:35:39.6,39,0.282,0.051,0.538,0.103,0.026,0.0,0.692,0.097,0.873,1,0,0
2,1825192657400391680,1237661971718537404,588017725470343346,176.0233,7.515611,11:44:05.59,+07:30:56.2,40,0.625,0.050,0.100,0.200,0.025,0.0,0.350,0.234,0.724,1,0,0
3,1825192932278298624,1237661971718471891,588017725470277861,175.9025,7.536361,11:43:36.61,+07:32:10.9,28,0.321,0.000,0.036,0.643,0.000,0.0,0.679,0.121,0.879,1,0,0
4,1825193207156205568,1237661971718471929,588017725470277898,175.9160,7.499889,11:43:39.85,+07:29:59.6,68,0.956,0.000,0.044,0.000,0.000,0.0,0.044,0.931,0.069,0,1,0

In [33]:
zoospec = zoospec.rename(columns = {'#specobjid': 'specobjid'})
zoospec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667944 entries, 0 to 667943
Data columns (total 20 columns):
specobjid        667944 non-null int64
objid            667944 non-null int64
dr7objid         667944 non-null int64
ra               667944 non-null float64
dec              667944 non-null float64
rastring         667944 non-null object
decstring        667944 non-null object
nvote            667944 non-null int64
p_el             667944 non-null float64
p_cw             667944 non-null float64
p_acw            667944 non-null float64
p_edge           667944 non-null float64
p_dk             667944 non-null float64
p_mg             667944 non-null float64
p_cs             667944 non-null float64
p_el_debiased    667944 non-null float64
p_cs_debiased    667944 non-null float64
spiral           667944 non-null int64
elliptical       667944 non-null int64
uncertain        667944 non-null int64
dtypes: float64(11), int64(7), object(2)
memory usage: 101.9+ MB

In [34]:
zoospec.to_csv('data/zoospec.csv', header = False, index = False)
zoospec.to_pickle('zoospec.pickle')

In [35]:
SkyQuery.dropTable('zoospec', datasetName = 'MyDB')

True

In [51]:
# query primary/foreign keys, run, camera column and field numbers, type (target response), ra, dec, 
# and u, g, r, i, and z filter magnitudes from photoprimary view

# only keep opservations with clean spectra, those labeled as a star or galaxy (includes quasars but 
# not open sky or noise objects), and those with a specobj match

query = """
    SELECT objid, specobjid, run, camcol, field, 
           type, ra, dec, u, g, r, i, z
    INTO mydb.photoprimary
    FROM photoprimary
    WHERE (clean = 1) AND (type = 3 OR type = 6)
        AND (specobjid != 0); 
"""

print('Submitting query:\n', query)
print('\n')

jobid = CasJobs.submitJob(sql = query, context = context)

print('Job submitted with jobId = ', jobid)
print('\n')

waited = CasJobs.waitForJob(jobId = jobid)      
jobDescription = CasJobs.getJobStatus(jobid)

print('\n')
print('Information about the job:')

#pprint(jobDescription)
jobDescriber(jobDescription)

Submitting query:

    SELECT objid, specobjid, run, camcol, field,
           type, ra, dec, u, g, r, i, z
    INTO mydb.photoprimary
    FROM photoprimary
    WHERE (clean = 1) AND (type = 3 OR type = 6)
        AND (specobjid != 0);



Job submitted with jobId =  44412664




Information about the job:
JobID:  44412664
Status:  Finished  ( 5 )
Target (context being searched):  DR15
Message:  Query Complete
Created_Table:  photoprimary
Rows:  3511469
Wait time:  10  seconds
Query duration:  83 seconds

In [53]:
photoprimary = SkyQuery.getTable('photoprimary', datasetName = 'MyDB')
photoprimary.head()

,#objid,specobjid,run,camcol,field,type,ra,dec,u,g,r,i,z
0,1237667446200074506,6749823370060079104,5116,1,210,6,202.583874,23.037319,22.06587,21.36334,21.14157,21.28747,21.43765
1,1237667446200074905,6749811550310080512,5116,1,210,3,202.683748,23.088113,24.24801,21.63745,20.27946,19.39530,18.80285
2,1237667446200139992,6749812374943801344,5116,1,211,3,202.782332,22.931552,21.91317,19.91195,18.39525,17.80418,17.36583
3,1237667446200140035,6749813474455429120,5116,1,211,6,202.689228,22.898896,21.92587,21.09891,20.92847,20.87403,20.27601
4,1237667442440143215,6752068851305783296,5115,2,182,3,200.083514,26.075496,25.94859,22.07402,20.44754,19.62877,19.19767

In [54]:
# clean dataframe
photoprimary = photoprimary.rename(columns = {'#objid': 'objid'})
photoprimary['specobjid'] = specobj['specobjid'].astype(int)
photoprimary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3511469 entries, 0 to 3511468
Data columns (total 13 columns):
objid        int64
specobjid    int64
run          int64
camcol       int64
field        int64
type         int64
ra           float64
dec          float64
u            float64
g            float64
r            float64
i            float64
z            float64
dtypes: float64(7), int64(6)
memory usage: 348.3 MB

In [56]:
photoprimary.to_csv('data/photoprimary.csv', header = False, index = False)
photoprimary.to_pickle('photoprimary.pickle')

In [57]:
SkyQuery.dropTable('photoprimary', datasetName = 'MyDB')

True